.container {
  margin: 40px;
}

.sidebar {
  background-color: brown !important;
}
label {
  height: 10px;
}

.icon {
  position: fixed;
  z-index: 100;
  right: 20px;
  top: 20px;
}
